html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

.all {
    background-image: url(img/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.description, .plans-description, .important-phrase {
    flex-grow: 1; 
}

.backpack-without-background, .books-without-background {
    width: 150px;
    height: auto; 
    padding: 0;
}

.main-description {
    text-align: center;
    padding-top: 40px;
}

.accordion-content {
    text-align: center;
    display: none;
    padding: 10px;
    background-color: transparent;
  }
  
  .accordion-header {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .accordion-header.active {
    background-color: transparent;
  }
  